{{ 'custom-product.css' | asset_url | stylesheet_tag }}
<section>
  <div></div>
  <div></div>
</section>

{% schema %}
{
  "name": "Custom Product",
  "settings": [],
  "presets": [
    {
      "name": "Custom Product"
    }
  ]
}
{% endschema %}
